<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <ul>
        <li class="patientList">
          <span><%= patient.name %></span>
          <span><%= patient.DOB %></span>
          <span><%= patient.parentname %></span>
          <span><%= patient.number %></span>
        </li>
    </ul>

    <script type="text/javascript" src="js/search.js"></script>
  </body>
</html>
