<!DOCTYPE HTML>

<html>
	<head>
		<title></title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="css/main.css" />
		<!--===============================================================================================-->
			<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
		<!--===============================================================================================-->
			<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
		<!--===============================================================================================-->
			<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
		<!--===============================================================================================-->
			<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
		<!--===============================================================================================-->
			<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
		<!--===============================================================================================-->
			<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
		<!--===============================================================================================-->
			<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
		<!--===============================================================================================-->
			<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
		<!--===============================================================================================-->
			<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
		<!--===============================================================================================-->
			<link rel="stylesheet" type="text/css" href="css/loginUtil.css">
			<link rel="stylesheet" type="text/css" href="css/loginMain.css">
		<!--===============================================================================================-->


		<noscript><link rel="stylesheet" href="css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Wrapper -->
					<div id="wrapper">

						<!-- Panel (Banner) -->
							<section class="panel banner right">
								<div class="content color0 span-3-75">
									<h1 class="major">Hello, my name<br />
									is Ethereal</h1>
									<p>This is <strong>Ethereal</strong>, a free site template by AJ for <a href="https://html5up.net">HTML5 UP</a>. It’s fully responsive, built on HTML5 and CSS3, and released entirely for free under the Creative Commons license. Hope you dig it :)</p>
									<ul class="actions">
										<li><a href="#first" class="button primary color1 circle icon solid fa-angle-right">Next</a></li>
									</ul>
								</div>

							</section>


							<section class="panel spotlight medium right" id="first">
								<div class="content span-7">


				<form class="login100-form validate-form" action="/signup" method="post">
											<span class="login100-form-title p-b-49">
												Sign Up
											</span>

											<div class="wrap-input100 validate-input m-b-23" data-validate = "Username is reauired">
												<span class="label-input100">Username</span>
												<input class="input100" type="text" name="email" placeholder="Type your username">
												<span class="focus-input100" data-symbol="&#xf206;"></span>
											</div>

											<div class="wrap-input100 validate-input" data-validate="Password is required">
												<span class="label-input100">Password</span>
												<input class="input100" type="password" name="password" placeholder="Type your password">
												<span class="focus-input100" data-symbol="&#xf190;"></span>
											</div>

											<div class="text-right p-t-8 p-b-31">
												<a href="/">
													Already have an account?
												</a>
											</div>

											<div class="container-login100-form-btn">
												<div class="wrap-login100-form-btn">
													<div class="login100-form-bgbtn"></div>
													<button type="submit" name="button" class="login100-form-btn">Sign Up</button>
												</div>
											</div>



											<div class="txt1 text-center p-t-54 p-b-20">
												<span>
													<a href="/signup" class="txt2">
														Or Sign Up
													</a>
												</span>
											</div>

											<div class="flex-c-m">
												<a href="#" class="login100-social-item bg1">
													<i class="fa fa-facebook"></i>
												</a>

												<a href="#" class="login100-social-item bg2">
													<i class="fa fa-twitter"></i>
												</a>

												<a href="#" class="login100-social-item bg3">
													<i class="fa fa-google"></i>
												</a>
											</div>

	</form>






								</div>

							</section>


							<section class="panel color1">
</section>
							<div class="copyright">&copy; Design: <a href="https://www.ebonylouis.com">Ebony Louis</a>.</div>

					</div>

			</div>


			<script src="js/jquery.min.js"></script>
			<script src="js/browser.min.js"></script>
			<script src="js/breakpoints.min.js"></script>
			<script src="js/main.js"></script>

	</body>
</html>
